<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">{{name|uppercase}}</h1>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Email</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users" class="text-center">
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.estado }}</td>
                        <td>
                            <button (click)="editUser(user)" class="btn btn-warning">Edit</button>
                            <button (click)="delete(user)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    
                </tfoot>
            </table>
        </div>
    </div>
</div>