<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/">{{title|uppercase}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarPerson" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Person
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarPerson">
              <a class="dropdown-item" routerLink="/showPersons">List Persons</a>
              <a class="dropdown-item" routerLink="/addPerson">New Person</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarUser">
            <a class="dropdown-item" routerLink="/showUsers">List Users</a>
            <a class="dropdown-item" routerLink="/addUser">New User</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li>
          <a class="navbar-brand" routerLink="/"> <span>Login</span> </a>
        </li>
      </ul>
    </div>
  </nav>
